body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "segoe ui", Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.topappbar {
  transform: translateY(env(safe-area-inset-top)) !important;
}

.topappbar > .v-toolbar__content {
  width:100vw;
  overflow-x:hidden;
}

/*.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 125ms;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}*/

.hoverable:hover {
  text-decoration: underline !important;
}

.hoverable {
  cursor: pointer !important;
  text-decoration: none !important;
}

.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.ProseMirror:focus {
  outline: none !important;
}

.theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
  background-color: #DEE1E6 !important;
}

.theme--dark.v-text-field--solo.darktextfield > .v-input__control > .v-input__slot {
  background: #202124 !important;
}

.v-btn--active::before {
  opacity: 0 !important;
}

.v-btn--active:hover::before {
  opacity: 0.08 !important;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 60px;
}

.disable-scrollbars *::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.vb > .vb-dragger {
  z-index: 5;
  width: 12px;
  right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotate3d(0,0,0,0);
  transform: rotate3d(0,0,0,0);
  -webkit-transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  transition:
    background-color 100ms ease-out,
    margin 100ms ease-out,
    height 100ms ease-out;
  background-color: rgba(239, 83, 80,.1);
  margin: 5px 5px 5px 0;
  border-radius: 20px;
  height: calc(100% - 10px);
  display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(239, 83, 80,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
  background-color: rgba(239, 83, 80,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(239, 83, 80,.5);
  margin: 0px;
  height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
  background-color: rgba(239, 83, 80,.5);
}
