/*.page-enter-active, .page-leave-active {
  transition: opacity .05s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}*/

.hoverable:hover {
  text-decoration: underline !important;
}

.hoverable {
  cursor: pointer !important;
  text-decoration: none !important;
}

.hidescroll::-webkit-scrollbar {
  width: 0 !important;
}

.hidescroll {
  overflow: -moz-scrollbars-none !important;
  -ms-overflow-style: none !important;
}

.betterbutton {
  text-transform: none !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

.betterbutton > .v-btn__content {
  font-size: 1rem !important;
}

a {
  text-decoration: none !important;
}

.ProseMirror:focus {
  outline: none !important;
}

.bettercard {
  background-color: transparent !important;
  border-width: 1px !important;
}

.v-btn--active::before {
  opacity: 0 !important;
}

.v-btn--active:hover::before {
  opacity: 0.08 !important;
}

