@import '~vuetify/src/styles/settings/variables';

$body-font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";
$heading-font-family: -apple-system, BlinkMacSystemFont, "segoe ui", Roboto, Helvetica, Arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol";

$font-size-root: 14px;
$border-radius-root: 10px;
$list-item-dense-title-font-size: .93rem;
$list-item-action-icon-margin: 16px;
$snackbar-content-font-size: 1rem;
$list-item-dense-title-font-weight: 400;

$material-dark: (
  'background': #202124,
  'surface': #202124,
  'bottom-navigation': #35363A,
  'cards': #35363A,
  'text': (
    'secondary': #8D8D8D
  )
);

$material-light: (
  'text': (
    'primary': #000000,
    'secondary': #8D8D8D
  ),
  'cards': #F5F5F5,
);

$container-max-widths: (
  'md': 100%,
  'lg': 100%,
  'xl': map-get($grid-breakpoints, 'xl') * 0.85
);

$chip-outlined-active-opacity: 0;
$card-link-focus-opacity: 0;

$code-background-color: #000000;
$code-color: #FFFFFF;
$code-kbd-border-radius: 5px;
$code-kbd-font-size: 0.93rem;
$code-kbd-font-weight: bold;
$code-padding: 0.2rem 0.4rem;
$blockquote-font-size: 1rem;
$blockquote-font-weight: 400;

$btn-font-weight: 500;
$btn-letter-spacing: normal;
$btn-text-transform: none;
$btn-font-sizes: (
  'x-small': .714rem,
  'small': .857rem,
  'default': 1rem,
  'large': 1rem,
  'x-large': 1.143rem
);

@import '~vuetify/src/styles/styles.sass';
