@import '~vuetify/src/styles/settings/variables';

$material-dark: (
  'background': #202124,
  'surface': #202124,
  'bottom-navigation': #313235,
  'cards': #313235,
  'text': (
    'secondary': #8D8D8D
  )
);

$material-light: (
  'text': (
    'primary': #000000,
    'secondary': #8D8D8D
  )
);

$container-max-widths: (
  'md': map-get($grid-breakpoints, 'md') * 0.85,
  'lg': map-get($grid-breakpoints, 'lg') * 0.85,
  'xl': map-get($grid-breakpoints, 'xl') * 0.85
);

$chip-outlined-active-opacity: 0;
$card-link-focus-opacity: 0;

@import '~vuetify/src/styles/styles.sass';
